.inner-row {
  width: fit-content;
  height: 104px;
  margin: auto;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: saddlebrown;
}

.inner-square {
  margin: 2px;
  width: 95px;
  height: 95px;
  border: 1px solid black;
  background-color: rgb(245, 222, 179);
}

img {
  margin: auto;
}

.piece {
  padding: 5%;
  width: 90%;
  height: 90%;
}

.white_circle {
  padding: 1%;
  width: 98%;
  height: 98%;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}

.red_circle {
  padding: 1%;
  width: 98%;
  height: 98%;
  border-radius: 50%;
  background-color: crimson;
  border: 1px solid black;
}

.red_circle:hover, .red-selected {
  padding: 0;
  border: 2px solid crimson;
  background-color: gold;
  cursor: pointer;
}

.white_circle:hover, .white-selected {
  padding: 0;
  border: 2px solid white;
  background-color: gold;
  cursor: pointer;
}

.dark {
  background-color: rgba(245, 222, 179, 0.7);
}

.king {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
}

.grey_circle {
  padding: 1%;
  width: 98%;
  height: 98%;
  border-radius: 50%;
  background-color: silver;
  border: 1px solid black;
}

.grey_circle:hover {
  padding: 0;
  border: 2px solid gold;
  background-color: silver;
  cursor: pointer;
}
