html {
  font-family: Helvetica, Sans-serif;
}

body {
  background-color: rgb(255, 238, 210);
}

img {
  width: 100%;
  height:100%; 
}

h1, h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.inputs {
  border: 2px solid black;
  border-right: 0px solid black;
  border-left: 0px solid black;
  align-content: center;
  text-align: center;
}

#success {
  border: 0px solid black;
}

#homepage, #F1, #F2, #F3, #SuccessPage  {
  width: fit-content;
  border: 2px solid black;
  margin: 10%;
  margin-top: 5%;
  border-radius: 10px;
  align-content: center;
  background-color: rgba(165, 42, 42, 0.75);
  box-shadow: 2px 2px black;
}

#F1, #F2, #F3, #SuccessPage {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

#checkout {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgba(255, 210, 173, 0.7);
  border: 1px dotted black;
  width: 20%;
  margin-left: 38%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

#checkout:hover {
  cursor: pointer;
}

#checkout:active {
  box-shadow: 0px 0px black;
}

.holder {
  margin: 20px;
}

.title {
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px black;
}

.n {
  margin-right: 50px;
}

.e {
  margin-right: 52px;
}

.p {
  margin-right: 20px;
}

.street1 {
  margin-right: 20px;
  padding-left: 3px;
}

.street2 {
  margin-top: 5px;
  margin-right: 20px;
  padding-left: 3px;
}

.address1 {
  margin-bottom: 5px;
}

.address2 {
  margin-top: 5px;
}

.city {
  margin-right: 20px;
  padding-left: 17px;
}

#city {
  margin-right: 2px;
}

.state {
  margin-right: 20px;
  padding-left: 13px;
}

#state {
  margin-right: 2px;
}

.zipcode {
  margin-right: 20px;
  padding-left: 5px;
}

#zipcode {
  margin-right: 15px;
}


.phonenumber {
  margin-right: 20px;
}

#phonenumber {
  margin-right: 50px;
}

.creditcard {
  margin-right: 20px;
  margin-left: 30px;
}

#creditcard {
  margin-right: 20px;
}

.expiry {
  margin-right: 20px;
}

#expiry {
  margin-right: 18px;
}

.CVV {
  margin-right: 20px;
  margin-left: 30px;
}

.billingzipcode {
  margin-right: 20px;
  margin-left: 0px;
}

#billingzipcode {
  margin-right: 30px;
}